{% extends 'base.html.twig' %}

{% block title %}Modification du conte...{% endblock %}

{% block body %}
<main class="container">
    <section>
        <h2>Modification du conte</h2>
    </section>
</main>
{% endblock %}
