<form method="post" action="{{ path('app_games_delete_game', {'id': game.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce jeu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
    <button class="btn">Supprimer le jeu</button>
</form>
