{% extends 'base.html.twig' %}

{% block title %}Recueil de contes{% endblock %}

{% block body %}

    <main class="container">
        <h1>Recueil de contes et divers textes</h1>
        <p>
            <h2>Présentation rapide</h2>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Id sed provident sit amet neque, delectus ipsum voluptas harum saepe error illo laboriosam nemo, 
                placeat porro velit veritatis magni dolore obcaecati?
            </div>
        </p>
    </main>

{% endblock %}
