{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-6">
                Lien vers enregistrement conte
            </div>
            <div class="col-md-6">
                Lien vers enregistrement jeu vidéo
            </div>
        </section>
    </main>
{% endblock %}
