{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-4">
            <a href="{{ path('app_tales_new') }}" class="nav-link">Conte</a>
                Lien vers enregistrement conte
            </div>
            <div class="col-md-4">
            <a href="{{ path('app_games_new') }}" class="nav-link">Jeu ancien</a>
                Lien vers enregistrement jeu vidéo ancien
            </div>
            <div class="col-md-4">
            <a href="{{ path('app_games_newRecent') }}" class="nav-link">Jeu récent</a>
                Lien vers enregistrement jeu vidéo récent
            </div>
        </section>
    </main>
{% endblock %}
