{% extends 'base.html.twig' %}

{% block title %}Administration - Enregistrement Jeu vidéo Récent{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-6">
                Formulaire d'enregistrement d'un jeu vidéo récent
            </div>
        </section>
    </main>
{% endblock %}