*{ 
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 228, 196, 0.726);
    border: 1px solid royalblue;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

header{
    background-color: rgba(255, 235, 205, 0.514);
    border: blueviolet 1px solid;
}

.logo{
    width: 5rem;
}

footer{
    background-color: rgba(255, 235, 205, 0.514);
    border: 1px solid blue;
}

.catError{
    width: 10rem;
}

.backTo{
    height: 6rem;
}

.gameCard{
    height: 20rem;
}

.gameButton{
    display: flex;
    position: absolute;
    bottom: 1rem;
    justify-content: center;
    width: 100%;
    margin-left: -1.2rem;
}

.thumbnail{
    width: 10rem;
    height: 10rem;
}

.cover{
    max-width: 20rem;
}

.mini{
    width: 3rem;
    height: 3rem;
}

.miniPegi{
    width: 2rem;
    height: 2rem;
}

.drawing{
    max-width: 30rem;
}

.plume{
    width: 1.5rem;
    height: 1.5rem;
}

.titleList, 
.charactere{
    font-weight: bold;
}

.bookTitle{
    font-style: italic;
    font-size: 1.1rem;
}

.portrait{
    max-width: 20rem;
    max-height: 20rem;
}

.carouselSize{
    width: 20rem;
}

.chevron{
    background-color: rgba(245, 245, 245, 0.384);
    height: 3rem;
}
