{% extends 'base.html.twig' %}

{% block title %}Liste des contes{% endblock %}

{% block body %}
<main class="container">
    <section>
        <h2>Liste des contes</h2>
    </section>
</main>
{% endblock %}
