{% extends 'base.html.twig' %}

{% block title %}Liste des contes{% endblock %}

{% block body %}
    <main class="container mt-5">
        <section class="row">
            <div class="col-12">
                <h2>Liste des contes</h2>
                <p>Contes et petits textes que j'ai écrits il y a quelques années.</p>
                <p>Cliquez sur le titre pour lire le conte. </p>
            </div>
            <div class="col-12">
                {% for tale in tales %}
                    <p>
                        <img src="{{ asset('assets/images/plume.svg') }}" class="plume" alt="Plume">
                        <a href="{{ path('app_tales_show', {'slug': tale.slug}) }}">{{ tale.title }}</a>
                    </p>
                {% endfor %}
            </div>
        </section>
        <div class="backTo text-center">
            <a href="{{ path('app_main') }}" class="btn btn-secondary">Retour à l'accueil</a>
        </div>
    </main>
{% endblock %}
