<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {# Feuilles de style #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        {# Scripts #}
        <link rel="stylesheet" href="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        
        {% include "parts/_header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "parts/_footer.html.twig" %}
    </body>
</html>
