<form method="post" action="{{ path('app_tales_delete_tale', {'id': tale.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce conte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tale.id) }}">
    <button class="btn">Supprimer le conte</button>
</form>
