{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

    <main class="container text-center pb-2">
        <section class="card m-5 p-3">
            <h2 class="card-text">Accès refusé</h2>
            <img src=" {{ asset('assets/images/errors/cat403.png') }} " class="catError m-auto"> <!-- Image Freepik libre de droits -->
            <div class="card-text mt-5 h5">Désolé, vous n'avez pas les autorisations nécessaires pour accéder à cette page.</div>
            <a href="https://fr.freepik.com/vecteurs-libre/illustration-icone-vectorielle-dessin-anime-mignon-chat-pleurant-concept-icone-nature-animale-isole-vecteur-premium_30924706.html" class="credit">Image de catalyststuff sur Freepik</a> 
        </section>
        <p class="backTo">
            <a href="{{ path('app_main') }}" class="btn btn-secondary">Retour à l'accueil du site</a>
        </p>
    </main>

{% endblock %}

