<header class="container">
    <nav>A insérer : 
    Date 
    <h1>Contes et divers textes</h1>
    Liste déroulante textes
    Liste déroulante dessins
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="{{ path('app_main') }}" class="nav-link">Accueil</a>
            </li>
        </ul>
        {% if app.user %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ path('app_profile_index') }}" class="nav-link">Profil</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>